*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}


/* .navbar{
    width: 100%;
    height: 35px;
    background-color: black;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 20px;
} */


nav {
  height: 7vh;
  margin: 7px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo {
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-name {
  font-weight: 900;
}

.menu {
  list-style: none;
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

.search {
  height: 100%;
  width: 35%;
  display: flex;
  align-items: center;
  position: relative;
}

.search i {
  position: absolute;
  left: 15px;
  color: #888;
  font-size: 16px;
}

.search input {
  background-color: #f0f0f0;
  width: 100%;
  height: 80%;
  border: none;
  border-radius: 999px;
  padding-left: 40px;
  font-size: large;
  outline: none;
}

.nav-icons {
  height: 100%;
  width: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}


.hamburger {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    padding: 5px;
}

/* Dropdown filter for mobile */
.dropDown {
    display: none;
}
.cnt {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 270px 1fr;
    gap: 24px;
    padding: 24px;
}

/* sidbar section */
.sidebar{
    background-color: #fff;
    border: 1px solid #0000001A;
    border-radius: 20px;
    padding: 20px 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: fit-content;
}

/* Filters Section */
.filters {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filterHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
}

.filterHeading p ,.sizeHeading p{
    font-size: 20px;
    font-weight: 700;
    color: black;
}

.filterHeading i ,.colorHeading i , .sizeHeading i{
    font-size: 16px;
    color: #0000007c;
}

hr {
    border: none;
    border-top: 1px solid #0000001A;
    margin: 0;
}

.filterList {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.filterItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.filterItem span {
    font-size: 16px;
    color: #00000099;
}

.filterItem i {
    font-size: 12px;
    color: #00000066;
}

.colorHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
}


.colorHeading p{
    font-size: 20px;
    font-weight: 700;
    color: black;

}

.colorSection{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}



.color{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: #000;
}

.green{
    background-color: green;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.orange{
    background-color: rgb(245, 121, 7);
}
.blue{
    background-color:rgb(6, 201, 245) ;
}
.dark-blue{
    background-color: rgb(6, 58, 245);
}

.purple{
    background-color: rgb(125, 6, 244);
}



.pink{
    background-color: rgb(246, 6, 165);
}

.white{
    background-color: white;
    border: 0.5px solid black;
}


.sizeHeading{
    display: flex;
    justify-content: space-between;
}
.sizeList{
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
}

.sizeList p{
    border-radius: 25px;
    color: rgb(165, 165, 165);
    padding: 10px;
    background-color: rgb(240, 240, 240);
}

.sizeList .bl{
    background-color: #000;
    color: white;
}

.applyFilter{
    background-color: #000;
    height:40px;
    border-radius: 10px;
    color: rgb(219, 219, 219);
    display: flex;
    justify-content: center;
    align-items: center;
    

}

/* right sidebar section */

.Heading p i{
    font-weight: bolder;
    font-style: normal;
}
.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-row: repeat(auto-fit, minmax(430px, 1fr)) ;
    gap: 20px;
    justify-items: center;
}



.card{
    width: 100%;
    min-height: 370px;
    max-width:380px ;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.productImg{
    height: 280px;
    width: 100%;
    border-radius: 20px;
    background-color: #F0EEED;
}

.proName{
    font-size: 18px;
    font-weight: 700;
    color: #000;
    margin-top: 8px;
}

.rating{
    font-size: 14px;
    color: #000;
    display: flex;
    align-items: center;
    gap: 4px;
}

.priceContainer{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 4px;
}

.price{
    font-size: 24px;
    font-weight: 700;
    color: #000;
}

.oldPrice{
    font-size: 24px;
    font-weight: 700;
    color: #00000040;
    text-decoration: line-through;
}

.discount{
    font-size: 12px;
    font-weight: 500;
    color: #FF3333;
    background-color: #FF33331A;
    padding: 6px 14px;
    border-radius: 62px;
}

.Heading{
    margin: 13px;
    margin-top:0px;
    display: flex;
    justify-content: space-between;
}


.bottom{
    display: flex;
    justify-content: space-between;
    padding: 12px;
    margin-top: 19px;
    font-size:20px;
}

.number{
 display: flex;
 gap: 21px;
 color: rgb(151, 151, 151);
}

.btn{
 padding: 8px;
 border: 1px solid black;  
 border-radius: 10px;
}

.highlight{
    background-color: rgb(240, 240, 240);
    color: #000;
    width: 20px;
    height: 25px;
    align-items: center;
    padding-left: 5px;

}

/* Newsletter Section */
.newletter {
    grid-column: 1 / -1;
    background-color: #000;
    border-radius: 20px;
    padding: 36px 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    gap: 40px;
}

.subHeading {
    flex: 1;
}

.subHeading h2 {
    font-size: 40px;
    font-weight: 800;
    color: #fff;
    line-height: 1.2;
    margin: 0;
}

.inputSection {
    display: flex;
    width: 40%;
    flex-direction: column;
    gap: 14px;
}

.emailInput {
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: #fff;
    padding: 12px 16px;
    border-radius: 62px;
}

.emailInput i {
    font-size: 20px;
    color: #00000066;
}

.emailInput input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    color: #000;
}

/* .emailInput input::placeholder {
    color: #00000066;
} */

.subscribeBtn {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 12px 16px;
    border-radius: 62px;
    font-size: 16px;
    font-weight: 500;
}

.subscribeBtn:hover {
    background-color: #f0f0f0;
    transform: translateY(-2px);
}

/* media query */
@media (max-width:576px) {
    /* mobile device */
    .cnt {
        width: 100%;
        height: fit-content;
        display: grid;
        grid-template-columns: 1fr;
        gap: 24px;
        padding: 24px;
    }
    .sidebar{
        display: none;
    }

    .products{
        margin-right: 30px;
    }
    
    .hamburger {
        display: block;
    }
    
    .dropDown {
        display: none;
        position: fixed;
        top: 35px;
        left: 0;
        width: 100%;
        height: calc(100vh - 35px);
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1000;
        overflow-y: auto;
        padding: 20px;
    }
    
    .dropDown.active {
        display: block;
    }
    
    .dropDown .filters,
    .dropDown .colorFilter,
    .dropDown .size {
        background-color: #fff;
        border: 1px solid #0000001A;
        border-radius: 20px;
        padding: 20px 24px;
        margin-bottom: 15px;
    }
    
    .rightside{

        margin-left: 17px;
    
    }
    
    .Heading p{
        display: none;
    }
    .bottom{
        padding: 1px;
        margin-top: 19px;
        font-size:10px;
    }
    .number{
        gap: 10px;
    }
    
    .newletter {
        flex-direction: column;
        padding: 24px;
        text-align: center;
    }
    
    .subHeading h2 {
        font-size: 24px;
    }

    .inputSection {
        width: 90%;

    }
}

@media (min-width:577px) and (max-width:993px) { 
    /* tab device */
    /* .products{
        grid-template-columns: 1fr 1fr ;
        grid-template-rows:  1fr 1fr ;
    } */

}


@media (min-width:994px) {
    /* laptop device */

}
